<h2>メニュー編集</h2>
<br>

<%= render "menus/error_notice" %>

<div class="menu-create">
    <%= form_for @menu, :url => {:action => 'update'} do |f| %>
        <div class="form-group">
            <%= f.label :name, "メニュー名" %>
            <%= f.text_field :name, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :kind, "分類" %>
            &emsp;
            <%= f.enum_select :kind, :class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :explain, "メニューの説明" %>
            <%= f.text_area :explain, :class => "form-control" %>
        </div>
        <%= f.hidden_field :secret, :value => @menu.secret %>
        <div class="text-center">
            <%= f.submit "更新", :class => "btn btn-primary" %>
        </div>
    <% end %>
</div>