<br>
<div class="menu-show">
    <div class="menu-column">
        メニュー名
    </div>
    <ul class="menu-name-list">
    <li class="menu-name">
        &emsp; <%= @menu.name %>
    </li>
    <% if user_signed_in? %>
        <li class="menu-button">
        <% if current_user.following?(@menu) %>
            <div id="menu-regist-button" class="deregist" onclick="OnClickRegistMenu(<%= @menu.id %>);">
                登録解除
            </div>
        <% else %>
            <div id="menu-regist-button" class="regist" onclick="OnClickRegistMenu(<%= @menu.id %>);">
                メニュー登録
            </div>
        <% end %>
        </li>
        <% if @menu.author_id == current_user.id %>
            <li class="menu-edit-link">
                <%= link_to "編集", edit_menu_path(@menu.id) %>
            </li>
            <li class="menu-delete-link">
                <%= link_to "削除", menu_path(@menu.id), :method => "DELETE", :data => {:confirm => "本当によろしいですか？(このメニュー登録しているユーザーや日誌には情報が残ります)"} %>
            </li>
        <% end %>
    <% end %>
    </ul>
    <div class="menu-column">
        このメニューを登録している人
    </div>
    <div class="menu-followers-num">
        &emsp; <%= link_to "#{@menu.followers_by_type('User').count}人", register_index_menu_path(@menu.id) %>
    </div>
    <div class="menu-column">
        メニュー作成者
    </div>
    <div class="menu-author">
        &emsp;
        <% if @author && @author.active_for_authentication? %>
            <%= image_tag @author.image, :class => "author-img" %> &ensp; <%= link_to @author.name, user_path(@author.id) %>
        <% else %>
            作成者は既に退会されています。
        <% end %>
    </div>
    <div class="menu-column">
        メニュー説明
    </div>
    <br>
    <div class="menu-explain-box">
        <%= simple_format(@menu.explain, :class => "text-left") %>
    </div>
</div>