<div id="diary-menu-table">
<table class="table table-striped table-bordered table-hover table-font">
    <tbody>
        <tr>
           <th>メニュー名</th>
           <th>回数/セット数</th>
           <th>レスト 分/秒</th>
           <th></th>
        </tr>
        <%= f.nested_fields_for :diary_menus, wrapper_tag: :tr do |q| %>
            <!--メニュー名-->
            <td>
                <%= q.select :menu_id, @menu_list, class: 'form-control' %>
            </td>
            <!--回数/セット-->
            <td>
                <div class="column-field">
                    <%= q.number_field :num, :min => 0, class: 'form-control' %>
                </div>
                <div class="column-unit">
                    回
                </div>
                <div class="column-field">
                    <%= q.number_field :set, :min => 0, class: 'form-control' %>
                </div>
                <div class="column-unit">
                    セット
                </div>
            </td>
            <!--レスト分/秒-->
            <td>
                <div class="column-field">
                    <%= q.number_field :rest_min, :min => 0, class: 'form-control' %>
                </div>
                <div class="column-unit">
                    分
                </div>
                <div class="column-field">
                    <%= q.number_field :rest_sec, :min => 0, class: 'form-control' %>
                </div>
                <div class="column-unit">
                    秒
                </div>
            </td>
            <td><%= q.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button' %></td>
        <% end %>
    </tbody>
</table>
<%= f.add_nested_fields_link :diary_menus, 'メニュー追加', class: 'btn btn-primary', role: 'button' %>
</div>
