<ul class="list-unstyled">
<% diary.diary_menus.each do |diary_menu| %>
    <% menu = get_menu(diary_menu.menu_id) %>
    <li>
        <%= link_to menu.name, menu_path(menu.id) %>
        <% if menu.drill? %>
            <%= diary_menu.num.to_s %> 回
        <% else %>
            <%= diary_menu.num.to_s %> 本
        <% end %>
        <%= diary_menu.set.to_s %> セット
        Rest
        <%= diary_menu.rest_min %> 分
        <%= diary_menu.rest_sec %> 秒
    </li>
<% end %>
</ul>
