<h2>
    <%= @diary.date.year %> 年
    <%= @diary.date.month %> 月
    <%= @diary.date.day %> 日
    &ensp;
    <%= @diary.title %>
</h2>
<% if current_user.id == @diary.user_id %>
    <div id="diary-edit-link">
        <%= link_to "編集", edit_diary_path(@diary.id) %>
        &ensp;
        <%= link_to "削除", diary_path(@diary.id), :method => :delete, :data => {:confirm => "本当に削除しますか？"} %>
    </div>
<% end %>
<div id="diary-detail">
    <div class="diary-column">
        メニュー内容
    </div>
    <div id="diary-detail-menu">
        <%= render "diaries/show_menu", diary: @diary %>
    </div>
    <div class="diary-column">
        説明
    </div>
    <div id="diary-detail-explain">
        <%= simple_format(@diary.explain) %>
    </div>
</div>

<div id="diary-favorite">
    <% if current_user.following?(@diary) %>
    <div id="diary-favo" class="diary-unfavorite-button" onClick="OnClickDiaryFavorite(<%= @diary.id %>);">
    <% else %>
    <div id="diary-favo" class="diary-favorite-button" onClick="OnClickDiaryFavorite(<%= @diary.id %>);">
    <% end %>
    いいね！
    </div>
    <div id="diary-favorite-count">
        <%= link_to "#{@diary.user_followers.count}件", favoriter_index_diary_path(@diary.id), :id => "diary-favorite-count-link" %>
    </div>
</div>
<div class="clear"></div>
<div id="diary-comment">
    コメント
    <%= form_for @comment, :url => diary_comments_path(@diary.id) do |f| %>
        <%= f.text_area :content, :size => "40x3", :class => "dialy-comment-input" %>
        <br>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "投稿", :class => "btn btn-primary" %>
    <% end %>

    <% if 0 == @comments.count %>
        <div id="comment-index-title">コメントはありません</div>
    <% else %>
        <div id="comment-index-title">コメント一覧</div>
        <div id="comment-index">
            <ul>
            <% @comments.each do |comment| %>
                <% user = get_user(comment.user_id) %>
                <li>
                    <%= image_tag user.image, :class => "commenter-img" %> &ensp; <%= link_to user.name, user_path(user.id) %>
                    <% if user.id == current_user.id %>
                        &emsp;
                        <%= link_to "コメント削除", comment_path(comment.id), :method => 'DELETE' %>
                    <% end %>
                    <div class="comment-content">
                        <%= simple_format(comment.content) %>
                    </div>
                </li>
            <% end %>
            </ul>
        </div>
    <% end %>
</div>
