<h2>グループ情報更新</h2>
<div class="text-center w-75 p-3 m-auto">
    <%= form_for @group do |f| %>
        <div class="badge">
            <%= f.label :name, "グループ名" %>
        </div>
        <div class="form-group">
            <%= f.text_field :name, :size => "30" %>
        </div>
        <div class="badge">
            <%= f.label :explain, "グループ説明" %>
        </div>
        <div class="form-group">
            <%= f.text_area :explain, :size => "40×5" %>
        </div>
        <div class="badge">
            <%= f.label :target, "グループ目標" %>
        </div>
        <div class="form-group">
            <%= f.text_area :target, :size => "40×5" %>
        </div>
        <div class="button">
            <%= f.submit "更新", :class => "btn btn-outline-primary" %>
        </div>
    <% end %>
</div>
