<h2>グループ検索</h2>

<br>

<div class="group-search">
    <%= form_for(@group, url: search_groups_path, html: { method: :get, role: 'form' }) do |f| %>
        <%= f.label :name, "グループ名" %>
        &emsp;
        <%= f.text_field :name %>
        <%= f.submit "検索する" %>
    <% end %>
    <br>
    <% if user_signed_in? %>
        <%= link_to "新規グループ作成", new_group_path, :class => "btn btn-primary" %><br>
        <br>
    <% end %>
    <div class="group-box">
        <ul class="list-group">
        <% if @groups.count == 0 %>
            <li class="list-group-item">グループが見つかりませんでした</li>
        <% end %>
        <% @groups.each do |group| %>
            <li class="list-group-item">
                <%= image_tag group.image, :size => "50x50", :class => "rounded-circle" %>
                &ensp;
                <%= link_to group.name, group_path(group.id) %>
            </li>
        <% end %>
        </ul>
    </div>
    <div class="my-pagenate clearfix">
        <%= paginate @groups %>
    </div>
</div>