<h2>グループ作成</h2>
<br>

<%= render "groups/error_notice" %>

<div class="group-create">
    <%= form_for @group, :url => {:action => 'create'} do |f| %>
        <div class="form-row align-items-center">
            <div class="col-auto form-margin">
                <%= f.label :name, "グループ名" %> <br>
                <%= f.text_field :name, :class => "form-control" %> <br>
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto form-margin">
                <%= f.label :explain, "グループ説明" %> <br>
                <%= f.text_area :explain, :size => "40×5", :class => "form-control" %> <br>
            </div>
        </div>
        <%= f.hidden_field :leader_id, :value => current_user.id %>
        <%= f.submit "作成する", :class => "btn btn-primary" %>
    <% end %>
</div>
