<div class="group-show-body">
  <div class="group-profile">
    <div class="group-name">
      <p><%= @group.name %></p>
    </div>
    <div class="group-image">
      <%= image_tag @group.image, :size => "150x150" %>
      <% admin_user?(@group.id, current_user.id)  %>
        <br>
        <%= form_for @group, :url => change_image_group_path(@group.id), :html => {method: 'PATCH'} do |f| %>
          <%= f.label :image, :class => "ignore" %>
          <label for="group_image" class="square_btn">
            画像選択
            <%= f.file_field :image, :class => "ignore" %>
          </label>
        <% end %>
        <script type="text/javascript">
            $('input[type=file]').on('change', function (e) {
                console.log(e.target.files);
                if (e.target.files[0].size > 0) {
                    $(this).parents('form').submit();
                }
            });
        </script>
    </div>
  </div>
  <div class="group-link">
    <% if current_user.following?(@group) %>
        <%= link_to "グループページへ", top_group_member_path(@group.id) %>
    <% else %>
      <% if !@request.user_id %>
        <%= form_for @request, :url => {:action => "follow"} do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :group_id, :value => @group.id %>
          <%= f.submit "加入申請", :data => {:confirm => "加入申請しますか？"} %>
        <% end %>
      <% else %>
        加入申請中
        <%= form_for @request, :url => {:action => "follow_cancel"} do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :group_id, :value => @group.id %>
          <%= f.submit "キャンセル", :data => {:confirm => "キャンセルしますか？"} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="group-explain">
    グループ説明
    <div class="group-explain-box">
      <%= @group.explain %>
    </div>
  </div>
</div>
