<div class="user-new-body">
<br>
<br>
<br>
<br>
<h2>新規登録</h2>
<p>下記フォームへ情報を入力して、今すぐ開始しましょう！</p>

<%= render 'users/error_notification' %>
<%= form_for @user, :url => {:action => 'create'} do |f| %>
    <div class="form-item">
        <div class="form-label">
            <%= f.label :name, "お名前" %><br>
        </div>
        <div class="form-field">
            <%= f.text_field :name, :size => "40" %>
        </div>
    </div>
    <div class="form-item">
        <div class="form-label">
            <%= f.label :mail, "メールアドレス" %><br>
        </div>
        <div class="form-field">
            <%= f.email_field :mail, :size => "40" %>
        </div>
    </div>
    <div class="form-item">
        <div class="form-label">
            <%= f.label(:password, "パスワード") %><br>
        </div>
        <div class="form-field">
            <%= f.password_field :password, :size=>"40" %>
        </div>
    </div>
    <div class="form-item">
        <div class="form-label">
            <%= f.label(:password_confirmation, "パスワード再入力") %><br>
        </div>
        <div class="form-field">
            <%= f.password_field :password_confirmation, :size=>"40" %>
        </div>
    </div>
    <div class="form-item">
        <%= f.submit("登録") %>
    </div>
<% end %>
<br>
<br>
<br>
<br>
<br>
</div>