<div class="user-show-body">
  <div class="user-profile div-center">
    <div class="user-image div-center">
      <% if current_user.id == @user.id %>
        <br>
        <%= form_for @user, :url => change_image_users_path, :html => {method: 'PATCH'} do |f| %>
          <%= f.label :image, :class => "ignore" %>
          <label for="user_image" class="image-select">
            <%= image_tag @user.image, :size => "150x150" %>
            <%= f.file_field :image, :class => "ignore" %>
          </label>
        <% end %>
        <script type="text/javascript">
            $('input[type=file]').on('change', function (e) {
                console.log(e.target.files);
                if (e.target.files[0].size > 0) {
                    $(this).parents('form').submit();
                }
            });
        </script>
      <% else %>
        <%= image_tag @user.image, :size => "150x150" %>
      <% end %>
    </div>
    <div class="user-info div-center">
      <p><%= @user.name %></p>
      <% if @user.main_group_id %>
      <p>所属グループ：<%= link_to get_group(@user.main_group_id).name, top_group_member_path(get_group(@user.main_group_id).id) %></p>
      <% else %>
      <p>所属グループ：なし</p>
      <% end %>
    </div>
  </div>
  <div class="user-notice div-center">
    <% if current_user.id == @user.id %>
      <div class="user-timeline div-center">
        <p>タイムライン</p>
        <div class="timeline-box div-center">
          <div class="timeline-area div-center">
            <%= render "users/timeline", :notices => @user.notices %>
          </div>
        </div>
      </div>
    <% else %>
      <% if current_user.following?(@user) %>
          <div id="user-follow-button" class="unfollow" onclick="OnClickFollowUser(<%= @user.id %>);">
              フォロー解除
          </div>
      <% else %>
          <div id="user-follow-button" class="follow" onclick="OnClickFollowUser(<%= @user.id %>);">
              フォロー
          </div>
      <% end %>
      <div class="other-user-menu">
        <ul>
          <li>
            <div class="user-menu-list">
            <%= link_to image_tag(asset_path("icon/diary.png")), user_diaries_path(@user.id) %>
            <br>
            <%= link_to "練習日誌", user_diaries_path(@user.id) %>
            </div>
          </li>
          <li>
            <div class="user-menu-list">
            <%= link_to image_tag(asset_path("icon/menu.png")), menu_index_user_path(@user.id) %>
            <br>
            <%= link_to "登録メニュー", menu_index_user_path(@user.id) %>
            </div>
          </li>
          <li>
            <div class="user-menu-list">
            <%= link_to image_tag(asset_path("icon/follow.png")), follow_index_user_path(@user.id) %>
            <br>
            <%= link_to "フォロー", follow_index_user_path(@user.id) %>
            </div>
          </li>
          <li>
            <div class="user-menu-list">
            <%= link_to image_tag(asset_path("icon/follower.png")), follower_index_user_path(@user.id) %>
            <br>
            <%= link_to "フォロワー", follower_index_user_path(@user.id) %>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
    <div class="user-practice div-center">
        <div class="practice-box div-center">
            <span class="box-title">今日の練習メニュー</span>
            <div class="group-member-todaymenu-box">
                <% if @diaries.count == 0 %>
                  登録無し
                <% end %>
                <% @diaries.each do |diary| %>
                    <div class="group-todaymenu">
                        <%= link_to diary.title, group_group_diary_path(diary.group_id, diary.id) %>
                        <%= render "diaries/show_menu", diary: diary %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
  </div>
</div>
