<div class="user-show-body">
  <br>
  <br>
  <br>
  <div class="user-profile div-center">
    <div class="user-image div-center">
      <%= image_tag @user.image, :size => "150x150" %>
      <% if current_user.id == @user.id %>
        <br>
        <%= form_for @user, :url => change_image_users_path, :html => {method: 'PATCH'} do |f| %>
          <%= f.label :image, :class => "ignore" %>
          <label for="user_image" class="square_btn">
            画像選択
            <%= f.file_field :image, :class => "ignore" %>
          </label>
        <% end %>
        <script type="text/javascript" src="//code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript">
            $('input[type=file]').on('change', function (e) {
                console.log(e.target.files);
                if (e.target.files[0].size > 0) {
                    $(this).parents('form').submit();
                }
            });
        </script>
      <% end %>
    </div>
    <div class="user-info div-center">
      名前：<%= @user.name %>
      &emsp;
      メイン所属グループ：<%= @user.main_group_id %>
      <br>
      <% if current_user.id == @user.id %>
      <%= link_to "日誌作成", '#' %>
      &emsp;
      <% end %>
      <%= link_to "過去の日誌", '#' %>
      &emsp;
      <%= link_to "登録メニュー", "/users/#{@user.id}/menu_index" %>
      <br>
      <%= link_to "フォローユーザー一覧", "/users/#{@user.id}/follow_index"  %>
      &emsp;
      <%= link_to "所属グループ一覧", "/users/#{@user.id}/group_index" %>
    </div>
  </div>
  <div class="user-notice div-center">
    <div class="user-timeline div-center">
      <% if current_user.id == @user.id %>
        お知らせ
        <div class="timeline-box div-center">
          <div class="timeline-area div-center">
          </div>
        </div>
      <% end %>
    </div>
    <div class="user-practice div-center">
        <div class="practice-box div-center">
            <span class="box-title">今日の練習メニュー</span>
            <p>腹筋 100回 ✖️ 3セット</p>
        </div>
    </div>
  </div>
</div>
