<div class="user-show-body">
  <div class="user-profile div-center">
    <div class="user-image div-center">
      <%= image_tag @user.image, :size => "150x150" %>
      <% if current_user.id == @user.id %>
        <br>
        <%= form_for @user, :url => change_image_users_path, :html => {method: 'PATCH'} do |f| %>
          <%= f.label :image, :class => "ignore" %>
          <label for="user_image" class="square_btn">
            画像選択
            <%= f.file_field :image, :class => "ignore" %>
          </label>
        <% end %>
        <script type="text/javascript">
            $('input[type=file]').on('change', function (e) {
                console.log(e.target.files);
                if (e.target.files[0].size > 0) {
                    $(this).parents('form').submit();
                }
            });
        </script>
      <% end %>
    </div>
    <div class="user-info div-center">
      <p><%= @user.name %></p>
      <p>グループ：<%= @user.main_group_id %></p>
    </div>
  </div>
  <div class="user-notice div-center">
    <% if current_user.id == @user.id %>
      <div class="user-timeline div-center">
        <p>タイムライン</p>
        <div class="timeline-box div-center">
          <div class="timeline-area div-center">
          </div>
        </div>
      </div>
    <% else %>
      <% if current_user.following?(@user) %>
          <div id="user-follow-button" class="unfollow" onclick="OnClickFollowUser(<%= @user.id %>);">
              フォロー解除
          </div>
      <% else %>
          <div id="user-follow-button" class="follow" onclick="OnClickFollowUser(<%= @user.id %>);">
              フォロー
          </div>
      <% end %>
      <div class="other-user-menu">
        <ul>
          <li>
            <div class="user-menu-list">
            <%= link_to image_tag(asset_path("icon/diary.png")), user_diaries_path(@user.id) %>
            <br>
            <%= link_to "練習日誌", user_diaries_path(@user.id) %>
            </div>
          </li>
          <li>
            <div class="user-menu-list">
            <%= link_to image_tag(asset_path("icon/menu.png")), menu_index_user_path(@user.id) %>
            <br>
            <%= link_to "登録メニュー", menu_index_user_path(@user.id) %>
            </div>
          </li>
          <li>
            <div class="user-menu-list">
            <%= link_to image_tag(asset_path("icon/follow.png")), follow_index_user_path(@user.id) %>
            <br>
            <%= link_to "フォロー", follow_index_user_path(@user.id) %>
            </div>
          </li>
          <li>
            <div class="user-menu-list">
            <%= link_to image_tag(asset_path("icon/follower.png")), follower_index_user_path(@user.id) %>
            <br>
            <%= link_to "フォロワー", follower_index_user_path(@user.id) %>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
    <div class="user-practice div-center">
        <div class="practice-box div-center">
            <span class="box-title">今日の練習メニュー</span>
            <p>腹筋 100回 ✖️ 3セット</p>
        </div>
    </div>
  </div>
</div>
