<div class="home-tfdiary-body" %>
    <br>
    <br>
    <br>
    <br>
    <h2>TFDiaryとは</h2>
    <p>陸上競技者専用の練習日誌サービスです</p>
    <p>日々の練習記録を簡単に管理できます</p>
    <br>
    <div class="tfdiary-image">
        <%= image_tag '#' %>
    </div>
    <div class="tfdiary-image-gap">
    <br>
    </div>
    <div class="tfdiary-image">
        <%= image_tag '#' %>
    </div>
    <br>
    <br>
    <h3>グループでの使用で更に便利に</h3>
    <br>
    <p>グループでTFDiaryを使用することで、</p>
    <p>練習メニューの配信やチャット機能を使用できます</p>
    <br>
    <div class="tfdiary-image">
        <%= image_tag '#' %>
    </div>
    <div class="tfdiary-image-gap">
    <br>
    </div>
    <div class="tfdiary-image">
        <%= image_tag '#' %>
    </div>
    <br>
    <br>
    <h3>ユーザ全員でメニューを共有できます</h3>
    <br>
    <p>全てのメニューは登録され、誰でも参照することができます</p>
    <p>また、他のユーザーをフォローすることで</p>
    <p>そのユーザーのメニューを参照することができます</p>
    <br>
    <div class="tfdiary-image">
        <%= image_tag '#' %>
    </div>
    <div class="tfdiary-image-gap">
    <br>
    </div>
    <div class="tfdiary-image">
        <%= image_tag '#' %>
    </div>
    <br>
    <br>
    <p>他にも便利な機能が多数</p>
    <p>下のリンクから簡単にユーザ登録できます</p>
    <br>
    <p><%= link_to "新規登録", new_user_path %></p>
    <br>
    <br>
</div>
