<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top justify-content-between fixed-top" style="background-color: #4169E1;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="Navbar">
        <% if !(logged_in?) %>
          <%= link_to "TFDiary", root_path, class:"navbar-brand nav-link" %>
          <ul class="navbar-nav navbar-right ml-auto">
              <!--ログインしているかどうかで分岐-->
              <li class="nav-item">
                <%= link_to "TFDiaryとは", home_tfdiary_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "メニュー検索", menus_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", home_login_form_path, class:"nav-link" %>
              </li>
          </ul>
        <% else %>
          <%= link_to "TFDiary", user_path(current_user.id), class:"navbar-brand nav-link" %>
          <ul class="navbar-nav navbar-right ml-auto">
            <li class="nav-item dropdown">
              <%= link_to current_user.name, '#', data: {toggle:"dropdown"}, class: "nav-link dropdown-toggle", id: "navbarDropdownMenuLink", 'aria-haspopup': "true", 'aria-expanded': "false"%>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "個人ページ", user_path(current_user.id), class:"dropdown-item" %>
                <%= link_to "日誌作成", new_user_diary_path(current_user.id), class:"dropdown-item"  %>
                <%= link_to "過去の日誌", user_diaries_path(current_user.id), class:"dropdown-item"  %>
                <%= link_to "登録メニュー", menu_index_user_path(current_user.id), class:"dropdown-item"  %>
                <%= link_to "フォロー一覧", follow_index_user_path(current_user.id), class:"dropdown-item"   %>
                <%= link_to "フォロワー一覧", follower_index_user_path(current_user.id), class:"dropdown-item"   %>
                <%= link_to "所属グループ一覧", "/users/#{current_user.id}/group_index", class:"dropdown-item"  %>
                <%= link_to "ログアウト", home_logout_path, class:"dropdown-item", class:"dropdown-item"  %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to "グループ検索", '#', class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "メニュー検索", menus_path, class:"nav-link" %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
</header>