<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "チャット", top_group_member_path(group.id), :class => "nav-link #{active_action?('top')}" %>
  </li>
  <li class="nav-item">
    <%= link_to "メンバ一覧", group_group_member_index_path(group.id), :class => "nav-link #{active?('group_member', 'index')}" %>
  </li>
  <li class="nav-item">
    <%= link_to "練習メニュー", group_group_diaries_path(group.id), :class => "nav-link #{active?('group_diaries', 'index')}" %>
  </li>
  <li class="nav-item">
    <%= link_to "メニュー達成状況", menu_status_group_member_path(group.id), :class => "nav-link #{active_action?('menu_status')}" %>
  </li>
  <% if admin_user?(group.id, current_user.id) %> 
    <li class="nav-item">
      <%= link_to "加入申請", request_index_group_member_path(group.id), :class => "nav-link #{active_action?('request_index')}" %>
    </li>
    <li class="nav-item">
      <%= link_to "設定", setting_group_member_path(group.id), :class => "nav-link #{active_setting?}" %>
    </li>
  <% end %>
</ul>