<div class="group-member">
  <%= render "group_member/group_header", :group => @group, :diaries => get_diaries_group(@group) %>
  <%= render "group_member/group_nav", :group => @group %>

  <div class="group-contents">
    <div id="member-index">
      <% @members.each do |member| %>
        <div class="member-user">
          <div class="float-left">
            <%= image_tag member.image, :size => "50x50" %>
          </div>
          <div class="float-left">
          <div class="member-name float-left">
            <%= link_to member.name, user_path(member.id) %>
          </div>
          <div class="member-job float-left">
            <%= render "group_member/job", :member => member, :group => @group %>
          </div>
          <div class="member-button">
            <%= render "group_member/job_button", :member => member, :group => @group %>
          </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
