<h2>グループチャット</h2>
<div id="group-chat">
    <div id="group-chat-post">
        <%= form_for @chat, :url => {:action => "post_chat"} do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.text_area :content, :size => "40×5", :class => "form-control" %>
            <div class="chat-post">
                <%= f.submit "投稿", :class => "btn btn-outline-primary" %>
            </div>
        <% end %>
    </div>
    <ul class="list-group">
    <% if @group.chats.count == 0 %>
        <li class="list-group-item">チャットの投稿はまだありません</li>
    <% else %>
        <% @group.chats.reverse_each do |chat| %>
            <% if chat.id != @chat.id %>
                <li class="list-group-item"><%= render "group_member/chat", {chat: chat} %></li>
            <% end %>
        <% end %>
    <% end %>
    </ul>

    <%= render "group_member/return_link", id: @group.id %>

</div>
