<h2>メンバ一覧</h2>
<div id="member-index">
    <%= render "page_counter", :models => @members %>
    <% @members.each do |member| %>
        <div class="member-user">
            <%= image_tag member.image, :size => "50x50" %>
            &emsp;
            <%= link_to member.name, user_path(member.id) %>
            &emsp;
            <%= render "group_member/job", :member => member, :group => @group %>
        </div>
    <% end %>
    <div class="my-pagenate clearfix">
        <%= paginate @members %>
    </div>
</div>

<%= render "group_member/return_link", id: @group.id %>
