<h2>加入申請一覧</h2>

<div id="member-index">
    申請数(<%= @requests.count %>)
    <% @requests.each do |req| %>
        <div class="member-user">
            <% user = get_user(req.user_id) %>
            <%= image_tag user.image, :size => "50x50" %>
            &emsp;
            <%= link_to user.name, user_path(user.id) %>
            &emsp;
            <%= link_to "承認", follow_approve_group_member_path(@group.id, :user_id => user.id), :method => "POST", :class => "btn btn-primary" %>
            &ensp;
            <%= link_to "拒否", follow_reject_group_member_path(@group.id, :user_id => user.id), :method => "POST", :class => "btn btn-danger" %>
        </div>
    <% end %>
</div>

<%= render "group_member/return_link", id: @group.id %>
