<div class="group-member">
  <%= render "group_member/group_header", :group => @group, :diaries => get_diaries_group(@group) %>
  <%= render "group_member/group_nav", :group => @group %>

  <div class="group-contents">
    <div class="list-group w-75 mx-auto">
      <%= link_to "グループ情報を更新", edit_group_path(@group.id), :class => "list-group-item list-group-item-action" %>
      <%= link_to "JOB割り当て", assign_job_group_member_path(@group.id), :class => "list-group-item list-group-item-action" %>
      <%= link_to "グループ練習メニュー作成", new_group_group_diary_path(@group.id), :class => "list-group-item list-group-item-action" %>
    </div>
  </div>
</div>
