<div class="group-member">
  <%= render "group_member/group_header", :group => @group, :diaries => get_diaries_group(@group) %>
  <%= render "group_member/group_nav", :group => @group %>

  <div class="group-contents">
    <div class="group-chat clearfix">
      <div class="group-chat-post mx-auto float-left">
        <%= form_for @chat, :url => {:action => "post_chat"} do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.text_area :content, :size => "40×5", :class => "form-control" %>
          <div class="chat-post">
            <%= f.submit "投稿", :class => "btn btn-outline-primary" %>
          </div>
        <% end %>
      </div>
      <div class="group-chat-index mx-auto float-left">
        <ul class="list-group">
        <% if @chats.count == 0 %>
          <li class="list-group-item">チャットの投稿はまだありません</li>
        <% else %>
          <% @chats.each do |chat| %>
            <% if chat.id != @chat.id %>
              <li class="list-group-item"><%= render "group_member/chat", {chat: chat} %></li>
            <% end %>
          <% end %>
        <% end %>
        </ul>
        <div class="my-pagenate w-75 clearfix">
          <div class="float-left">
            <%= render "page_counter", :models => @chats %>
          </div>
          <div class="float-right">
            <%= paginate @chats %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>