<div class="group-member">
  <%= render "group_member/group_header", :group => @group, :diaries => get_diaries_group(@group) %>
  <%= render "group_member/group_nav", :group => @group %>

  <div class="group-contents">
    <div id="index_calender_area">
        <div id="index_calender" class="text-center">
        <%= month_calendar do |date| %>
          <% diaries = get_diary_group(@group, date) %>
          <%= date.day %>
          <br>
          <% if 0 != diaries.count %>
            <% diaries.each do |diary| %>
                <%= link_to diary.title, group_group_diary_path(:group_id => @group.id, :id => diary.id)  %>
                <br>
            <% end %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
</div>