<div class="group-member">
  <%= render "group_member/group_header", :group => @group, :diaries => get_diaries_group(@group) %>
  <%= render "group_member/group_nav", :group => @group %>

  <div class="group-contents">
    <%= render "diaries/error_notice" %>
    
    <div class="diary-create">
      <%= form_for @diary, :url => {:action => 'create'} do |f| %>
        <%= f.label :title, "タイトル", :class => "diary-label" %>
        <br>
        <%= f.text_field :title, :size => "40" %>
        <br>
        <%= f.label :date, "日付", :class => "diary-label" %>
        <br>
        <%= f.date_field :date %>
        <br>
        <%= label :menu, "メニュー", :class => "diary-label" %>
        <br>
        <button class="btn btn-primary" type="button" onClick="submitAction('<%= add_all_menu_group_group_diaries_path(@group.id) %>');">メニューの一括追加</button>
        <%= render "diaries/diary_menu_fields", f: f %>
        <br>
        <%= f.label :explain, "説明", :class => "diary-label" %>
        <br>
        <%= f.text_area :explain, :size => "40x10", :class => "dialy-explain-input" %>
        <br>
        <%= f.submit "配信", :class => "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
